@font-face
    font-family: "Sui Generis"
    src: url(../../fonts/Sui\ Generis.otf)

body
    display: flex
    flex-direction: column
    align-items: center
    user-select: none

#main
    min-height: 100vh

tr, th, td
    vertical-align: top

#sidebar
    a
        text-decoration: none
        color: white
        font-family: "Sui Generis"
        font-size: 14px

ul
    margin-top: -4px

li
    padding-left: 6px
    width: 100%

li:hover
    background-color: #5b646d
    padding-left: 7px
    cursor: pointer

#links
    ul
        padding: 8px 0

    ul img
        filter: saturate(.75) brightness(.85)

    ul img:hover
        filter: saturate(1) brightness(1)

#contact
    ul
        margin-bottom: -10px

    li
        padding: 8px 0
        width: 100%

li:hover
    background-color: #5b646d
    cursor: pointer

#latest
    height: 100%

#sidebar
    hr
        margin: 0 10px

footer
    h3
        text-align: center
