<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>cwchilvers.io</title>

	<link rel="stylesheet" href="./reset.css">
	<style>
		#main {
			min-height: 100vh;
		}

		tr,
		th,
		td {
			border: 1px solid #ccc;
			vertical-align: top;
		}

		body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	</style>

</head>

<body>
	<table id="main" width="700px">
		<!-- Header -->
		<tr>
			<td colspan="2" height="100px">
				<table height="100px">
					<!-- Logo -->
					<td width="500px">
						<h1>cwchilvers.io</h1>
					</td>

					<!-- Featured -->
					<td width="200px">
						<table width="200px">
							<tr>
								<th>Latest Music Work</th>
							</tr>
							<tr>
								<td>
									<a href="https://open.spotify.com/track/7dIn5DzOgYrwBdQVoqh79o?si=8e506d037a49447d">
										"Ocean Skies"<br> by Atara Ara<br> (Producer)
									</a>
								</td>
							</tr>
						</table>
					</td>
				</table>
			</td>
		</tr>

		<!-- Body -->
		<tr>
			<!-- Sidebar -->
			<td width="120px">
				<!-- Site Menu -->
				<table width="120px">
					<tr height="20px">
						<th>Site Menu</th>
					</tr>
					<tr height="15px">
						<td><a>Home</a></td>
					</tr>
					<tr height="15px">
						<td><a>Music</a></td>
					</tr>
					<tr height="15px">
						<td><a>Games</a></td>
					</tr>
					<tr height="15px">
						<td><a>Archive</a></td>
					</tr>
				</table>

				<!-- Links -->
				<table width="120px">
					<tr height="20px">
						<th>Links</th>
					</tr>
					<tr height="15px">
						<td>
							<a href="https://github.com/cwchilvers">
								<img src="./github-button.jpeg" alt="GitHub">
							</a>
						</td>
					</tr>
					<tr height="15px">
						<td>
							<a href="https://chandlerchilvers.bandcamp.com/">
								<img src="./bandcamp-button.jpeg" alt="Bandcamp">
							</a>
						</td>
					</tr>
				</table>

				<!-- Contact -->
				<table width="120px">
					<tr height="20px">
						<th>Contact</th>
					</tr>
					<tr height="15px">
						<td>
							<a href="mailto: cwchilvers@gmail.com">
								<img src="./email-button.jpeg" alt="Email">
							</a>
						</td>
					</tr>
				</table>

				<!-- Visitors -->
				<table width="120px">
					<tr height="20px">
						<th>Visitors</th>
					</tr>
					<tr height="15px">
						<td>Today: 0</td>
					</tr>
					<tr height="15px">
						<td>Total: 0</td>
					</tr>
				</table>

				<!-- Cool Sites -->
				<table width="120px">
					<tr height="20px">
						<th>Cool Sites</th>
					</tr>
					<tr height="15px">
						<td>
							<a href="">
								Click me!
							</a>
						</td>
					</tr>
				</table>
			</td>

			<!-- Main -->
			<td>
				<!-- Home -->
				<table>
					<tr height="60px">
						<th>Home</th>
					</tr>
					<tr>
						<td>
							<p>
								askj akldfh lakdjfskdfsjhlk adsjfaksdfhlasdfkdf
								asdfa daslkdfh slkad fsjhalkdfs jhalsfdkhdfs adskhdfslkf
							</p>
						</td>
					</tr>
				</table>

				<!-- Latest -->
				<table height="632px">
					<td>
						<table width="400px">
							<tr height="40px">
								<th>Latest</th>
							</tr>
							<tr>
								<td>
									<p>
										askj akldfh lakdjfskdfsjhlk adsjfaksdfhlasdfkdf
										asdfa daslkdfh slkad fsjhalkdfs jhalsfdkhdfs adskhdfslkf
									</p>
								</td>
							</tr>
						</table>

					</td>
					<td>
						<table width="160px">
							<tr>
								<th>Latest Music Work</th>
							</tr>
							<tr>
								<td>
									<a href="https://open.spotify.com/track/7dIn5DzOgYrwBdQVoqh79o?si=8e506d037a49447d">
										"Ocean Skies"<br> by Atara Ara<br> (Producer)
									</a>
								</td>
							</tr>
						</table>
					</td>
				</table>
			</td>
		</tr>

		<!-- Footer -->
		<tr>
			<th colspan="2" height="60px">©2023 cwchilvers.io</th>
		</tr>
	</table>
</body>

</html>