<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>cwchilvers.io</title>

	<link rel="stylesheet" href="./reset.css">
	<style>
		@font-face {
			font-family: "Sui Generis";
			src: url(../../src/fonts/Sui\ Generis.otf);
		}

		#main {
			min-height: 100vh;
		}

		tr,
		th,
		td {
			vertical-align: top;
		}

		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			user-select: none;
		}

		.sidebar-item ul {
			margin-top: -4px;
		}

		#site-menu ul {
			padding: 8px 0;
		}

		#site-menu li {
			padding-left: 6px;
			width: 100%;
		}

		#site-menu li:hover {
			background-color: #5b646d;
			padding-left: 7px;
			cursor: pointer;
		}

		#contact {
			text-align: center;
		}

		#latest {
			height: 100%;
		}

		a {
			text-decoration: none;
			color: white;
			font-family: "Sui Generis";
			font-size: 14px;
		}

		hr {
			margin: 0 10px;
		}

		#contact ul {
			margin-bottom: -10px;
		}

		#contact li {
			padding: 8px 0;
			width: 100%;
		}

		#contact li:hover {
			background-color: #5b646d;
			cursor: pointer;
		}

		#links ul {
			padding: 8px 0;
		}

		#links ul img {
			filter: saturate(.75) brightness(.85);
		}

		#links ul img:hover {
			filter: saturate(1) brightness(1);
		}
	</style>

</head>

<body>
	<table id="main" width="700">
		<!-- Header -->
		<thead>
			<tr>
				<td colspan="2" height="100">
					<h1>cwchilvers.io</h1>
				</td>
				<td colspan="1" width="160">
					<h3>Latest Music</h3>
				</td>
			</tr>
		</thead>

		<!-- Body -->
		<tbody>
			<tr>
				<!-- Sidebar -->
				<td id="sidebar" colspan="1" width="120">
					<!-- Site Menu -->
					<div id="site-menu" align="left" class="sidebar-item">
						<img src=" ./site-menu.gif">
						<ul style="background-image: url('./sidebar-bg.gif');">
							<li><a href="/"><img src="sidebar-bullet.gif">Home</a></li>
							<hr size="0">
							<li><a href="#"><img src="sidebar-bullet.gif">Music</a></li>
							<hr size="0">
							<li><a href="#"><img src="sidebar-bullet.gif">Games</a></li>
							<hr size="0">
							<li><a href="#"><img src="sidebar-bullet.gif">Misc.</a></li>
							<hr size="0">
							<li><a href="#"><img src="sidebar-bullet.gif">Archive</a></li>
						</ul>
					</div>

					<!-- Links -->
					<div id="links" class="sidebar-item" align="center">
						<img src="./links.gif">
						<ul style="background-image: url('./sidebar-bg.gif');">
							<li>
								<a href="https://github.com/cwchilvers">
									<img src="./github-button.jpeg" alt="GitHub">
								</a>
							</li>
							<li>
								<a href="https://chandlerchilvers.bandcamp.com/">
									<img src="./bandcamp-button.jpeg" alt="Bandcamp">
								</a>
							</li>
						</ul>
					</div>

					<!-- Contact -->
					<div id="contact" align="left" class="sidebar-item">
						<img src="./contact.gif">
						<ul style="background-image: url('./sidebar-bg.gif');">
							<li>
								<a href=" mailto:cwchilvers@gmail.com"><img src="mail.gif">E-mail</a>
							</li>
						</ul>
						<img src="./sidebar-bottom.gif">
					</div>

					<img src="sidebar-spacer.gif">

					<!-- Visitors -->
					<div class="sidebar-item">
						<h3>Visitors</h3>
						<p>Today: 0</p>
						<p>Total: 0</p>
						<img src="globe.gif">
					</div>
				</td>

				<!-- Main -->
				<td colspan="2">
					<table>
						<!-- Main Header -->
						<tr>
							<td colspan="2" width="580" height="120">
								<h2>Welcome</h2>
								<p>
									The outdated look of this website is intentional. I wanted to create a site in
									the style of the mid-2000s, which was when I started getting into the
									internet. Most of the assets were drawn by myself using Gimp.
								</p>
							</td>
						</tr>

						<!-- Main Body -->
						<tr>
							<!-- Latest -->
							<td>
								<div id="latest">
									<h2>Latest</h2>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
								</div>
							</td>

							<!-- Main Sidebar -->
							<td width="160">
								<!-- History -->
								<h3>History</h3>
								<h4>2023</h4>
								<ul>
									<li>2023-08-06</li>
								</ul>

								<!-- Shoutbox -->
								<div id="shoutbox">
									<h3>Shoutbox</h3>
									<div id="shoutbox-history">
										<div class="shoutbox-post">
											<h4>Username YYYY-MM-DD</h4>
											<p>Shoutbox post.</p>
										</div>
									</div>
									<form action="" method="post">
										<input type="text" name="username" placeholder="Username"></a>
										<input type="submit">
									</form>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>

		<!-- Footer -->
		<tfoot>
			<tr>
				<td colspan="3" height="60px">
					<h3>©2023 cwchilvers.io</h3>
				</td>
			</tr>
		</tfoot>
	</table>
</body>

</html>