<div class="sidebar-item" id="contact">
    <img src="../img/sidebar/sidebar-header-contact.gif" alt=" Contact">
    <ul style="background-image: url('../img/sidebar/sidebar-bg.gif');">
        <li>
            <a href=" mailto:cwchilvers@gmail.com"><img src="../img/sidebar/sidebar-mail.gif">E-mail</a>
        </li>
    </ul>
    <img src="../img/sidebar/sidebar-bottom.gif">
</div>