<div class="sidebar-item" id="links">
    <img src="../img/sidebar/sidebar-header-links.gif" alt="Links">
    <ul style="background-image: url('../img/sidebar/sidebar-bg.gif');">
        <li>
            <a href="https://github.com/cwchilvers">
                <img src="../img/sidebar/sidebar-link-github.jpeg" alt="GitHub">
            </a>
        </li>
        <li>
            <a href="https://chandlerchilvers.bandcamp.com/">
                <img src="../img/sidebar/sidebar-link-bandcamp.jpeg" alt="Bandcamp">
            </a>
        </li>
    </ul>
</div>