<div class="sidebar-item" id="site-menu">
    <img src=" ../img/sidebar/sidebar-header-site-menu.gif">
    <ul style="background-image: url('../img/sidebar/sidebar-bg.gif');" alt="Site Menu">
        <li><a href="/"><img src="../img/sidebar/sidebar-bullet.gif">Home</a></li>
        <hr size="0">
        <li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Music</a></li>
        <hr size="0">
        <li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Games</a></li>
        <hr size="0">
        <li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Misc.</a></li>
        <hr size="0">
        <li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Archive</a></li>
    </ul>
</div>