<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>cwchilvers.io</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/components/sidebar.css">
</head>

<body>
	<table id="main" width="700">
		<!-- Header -->
		<thead>
			<tr>
				<td colspan="2" height="100">
					<h1>cwchilvers.io</h1>
				</td>
				<td colspan="1" width="160">
					<h3>Latest Music</h3>
				</td>
			</tr>
		</thead>

		<!-- Body -->
		<tbody>
			<tr>
				<!-- Sidebar -->
				<th id="sidebar" colspan="1" width="120">
					<!-- Site Menu -->
					<div class="sidebar-item" id="site-menu">
						<img src=" ../img/sidebar/sidebar-header-site-menu.gif">
						<ul style="background-image: url('../img/sidebar/sidebar-bg.gif');" alt="Site Menu">
							<li><a href="/"><img src="../img/sidebar/sidebar-bullet.gif">Home</a></li>
							<hr size="0">
							<li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Music</a></li>
							<hr size="0">
							<li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Games</a></li>
							<hr size="0">
							<li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Misc.</a></li>
							<hr size="0">
							<li><a href="#"><img src="../img/sidebar/sidebar-bullet.gif">Archive</a></li>
						</ul>
					</div>

					<!-- Links -->
					<div class="sidebar-item" id="links">
						<img src="../img/sidebar/sidebar-header-site-menu.gif" alt="Links">
						<ul style="background-image: url('../img/sidebar/sidebar-bg.gif');">
							<li>
								<a href="https://github.com/cwchilvers">
									<img src="../img/sidebar/sidebar-link-github.jpeg" alt="GitHub">
								</a>
							</li>
							<li>
								<a href="https://chandlerchilvers.bandcamp.com/">
									<img src="../img/sidebar/sidebar-link-bandcamp.jpeg" alt="Bandcamp">
								</a>
							</li>
						</ul>
					</div>

					<!-- Contact -->
					<div class="sidebar-item" id="contact">
						<img src="../img/sidebar/sidebar-header-contact.gif" alt=" Contact">
						<ul style="background-image: url('../img/sidebar/sidebar-bg.gif');">
							<li>
								<a href=" mailto:cwchilvers@gmail.com"><img
										src="../img/sidebar/sidebar-mail.gif">E-mail</a>
							</li>
						</ul>
						<img src="../img/sidebar/sidebar-bottom.gif">
					</div>

					<img src="../img/sidebar/sidebar-spacer.gif">

					<!-- Visitors -->
					<div class="sidebar-item">
						<h3>Visitors</h3>
						<p>Today: 0</p>
						<p>Total: 0</p>
						<img src="../img/sidebar/sidebar-globe.gif">
					</div>
				</th>

				<!-- Main -->
				<td colspan="2">
					<table>
						<!-- Main Header -->
						<tr>
							<td colspan="2" width="580" height="120">
								<h2>Welcome</h2>
								<p>
									Hi, I'm a musician turned coder. I still create music, but lately I've been shifting
									more towards the production side of it. I used to score short films, often
									collaborating on these scores with my brother, but I no longer do that. I studied
									music with an emphasis on composition along with a handful computer science and game
									development courses. I also pursued some self-guided learning in Assembly language
									to explore NES game development, and I dabbled in some basic web development. Just
									before graduating, I decided to further my software development skills by enrolling
									in an online course on full-stack web development and pursue a career in that field.
									<br><br>
									The outdated look of this website is intentional. I wanted to create a site in
									the style of the mid-2000s, which was when I started getting into the internet. Most
									of the assets used were drawn by myself.
								</p>
							</td>
						</tr>

						<!-- Main Body -->
						<tr>
							<!-- Latest -->
							<td>
								<div id="latest">
									<h2>Latest</h2>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
									<div class="post">
										<h3>Post Title</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
											nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
											aute
											irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											nulla
											pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
											officia
											deserunt mollit anim id est laborum.
										</p>
									</div>
								</div>
							</td>

							<!-- Main Sidebar -->
							<td width="160">
								<!-- History -->
								<h3>History</h3>
								<h4>2023</h4>
								<ul>
									<li>2023-08-06</li>
								</ul>

								<!-- Shoutbox -->
								<div id="shoutbox">
									<h3>Shoutbox</h3>
									<div id="shoutbox-history">
										<div class="shoutbox-post">
											<h4>Username YYYY-MM-DD</h4>
											<p>Shoutbox post.</p>
										</div>
									</div>
									<form action="" method="post">
										<input type="text" name="username" placeholder="Username"></a>
										<input type="submit">
									</form>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>

		<!-- Footer -->
		<tfoot>
			<tr>
				<td colspan="3" height="60px">
					<h3>©2023 cwchilvers.io</h3>
				</td>
			</tr>
		</tfoot>
	</table>
</body>

</html>