<tr>
    <td colspan="2" width="580" height="120">
        <h2>Welcome</h2>
        <p>
            Hi, I'm a musician turned coder. I still create music, but lately I've been shifting
            more towards the production side of it. I used to score short films, often
            collaborating on these scores with my brother, but I no longer do that. I studied
            music with an emphasis on composition along with a handful computer science and game
            development courses. I also pursued some self-guided learning in Assembly language
            to explore NES game development, and I dabbled in some basic web development. Just
            before graduating, I decided to further my software development skills by enrolling
            in an online course on full-stack web development and pursue a career in that field.
            <br><br>
            The outdated look of this website is intentional. I wanted to create a site in
            the style of the mid-2000s, which was when I started getting into the internet. Most
            of the assets used were drawn by myself.
        </p>
    </td>
</tr>