<div id="shoutbox">
    <h3>Shoutbox</h3>
    <div id="shoutbox-history">
        <div class="shoutbox-post">
            <h4>Username YYYY-MM-DD</h4>
            <p>Shoutbox post.</p>
        </div>
    </div>
    <form action="" method="post">
        <input type="text" name="username" placeholder="Username"></a>
        <input type="submit">
    </form>
</div>